apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    {{- include "pulsehub.commonLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "pulsehub.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pulsehub.commonLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 3000
              protocol: TCP
              name: http
          resources:
            limits:
              memory: 128Mi
            requests:
              memory: 64Mi
